<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>User Management System</h1>
    <hr>
    <h2>Save User</h2>

    <form th:action="@{/admin/saveUser}" th:object="${user}" method="POST">
        <input name="id" type="number" style="display: none;">
        <input type="text" required th:field="*{username}" th:value="*{getUsername()}" placeholder="User Name"
               class="form-control mb-4 col-4">

        <input type="password" required th:field="*{password}" th:value="*{getPassword()}" placeholder="Password"
               class="form-control mb-4 col-4">

        <select class="form-control mb-4 col-4" name="roles">
            <option hidden value="">Select a role</option>
            <th:block th:each="role: ${listRoles}">
                <option th:value="${role.role}" th:text="${(role.role=='ROLE_ADMIN')?'Admin':'User'}"
                        th:for="${role.role}"></option>
            </th:block>
        </select>

        <button type="submit" class="btn btn-info col-2"> Save User</button>
    </form>

    <hr>

    <a th:href="@{/admin}"> Back to User List</a>
    </p>
    <p><a type="button" th:href="@{/logout}" class="btn btn-danger">Logout</a>
    </p>
</div>
</body>

</html>